#!/usr/bin/env bash
# {{ ansible_managed }}

#-----
# Description :
# Table USE : Permet le switch de passerelle en ne changeant que la definition de la route par defaut dans la table USE
#----

#Table USE
{% if item.gateway is defined and item.gateway and item.interface is defined and item.interface %}
ip route change default via {{ item.gateway }} dev {{ item.interface }} table use
{% endif %}