# {{ ansible_managed }}

127.0.0.1       localhost
{% for key, value in network_interfaces.items() %}
{% if value.cidr is defined %}
{{ value.cidr | ipaddr('address') }} {{ ansible_hostname }} {{ ansible_hostname }}.{{ dns_domain }}
{% endif %}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters